.nav{
    display: flex;
    gap: 50px;
    list-style-type:none;
    background-size: cover;
    color: black;
    background-color: aliceblue;
    height: 50px;
    padding-top: 10px;
    
}
.home{
    background-image:url(Media/image/kenza\ fashion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     padding-bottom: 600PX; 
}
.logo{
    font-family: cursive;
    font-style: oblique;
    text-decoration: none;
    color:rgb(245, 157, 229) ;
    font-size: 20px;
}
.listlien{

display: flex;
    gap: 50px;  
}  
.listlien li a{
    list-style-type:none;
    color: black;
    text-decoration: none;
    
}
.listlien li {
    list-style-type:none;
    color: black;
    text-decoration: none;
    
}
.listlien li a:hover{
    font-size: 20px;
    color:  rgb(245, 157, 229);

}
*{
    padding: 0;
    margin: 0;
}
.img{
    width: 100px;
    height: 70px;
    display: flex ;
    gap: 20px;
    justify-content: center;
}
.bienvenu{
color:whitesmoke;
margin-left: 100px;
font-size: 70px;


}
.logo1{
    font-family: cursive;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: none;
    color:  rgb(245, 157, 229);
    font-size: 100px; 
    
}

.img3{
    width: 30px;
    height: 30px;
}
